n8n-workflow-your-fixed.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/webhook/tts_minimax",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f0e142bd-b5f1-4de5-8587-cd5ce48c9bab",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [592, 112],
      "webhookId": "072a7ffb-caa0-4976-a214-98549b4dbf7e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "chatInput",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "messageType",
              "value": "={{ $json.body.type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4acd2119-55f5-4056-aac0-af2d0b40b25a",
      "name": "Extract Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1024, 112]
    },
    {
      "parameters": {
        "jsCode": "if (!$json.chatInput || $json.chatInput.trim() === '') {\n  return [{ chatInput: 'Hello! How can I help you today?' }];\n}\nreturn [$json];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1232, 112],
      "id": "90d689ac-82f4-491f-ba87-b4d38ee89529",
      "name": "Validate Message"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are CallWaiting AI — a warm, helpful voice assistant that speaks naturally like a human, helps answer business questions, and uses short sentences. Keep responses under 100 words."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [1440, 112],
      "id": "0319acfc-b776-4d03-abae-b0f4dbc7128a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1312, 320],
      "id": "4e4026b1-fd46-45ef-8db7-f823cb4172e8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "120wMZbm80kPahUj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1520, 336],
      "id": "3c2019e1-6a8c-4bfa-83ad-ff0546a3cfce",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "aiResponseText",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8d288304-ff49-45c9-960e-6c53b2ec7690",
      "name": "Extract AI Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1688, 112]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.minimax.chat/v1/t2a_v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer <YOUR_MINIMAX_JWT>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.aiResponseText) }},\n  \"model\": \"speech-01\",\n  \"voice_id\": \"female_1\",\n  \"sample_rate\": 24000,\n  \"format\": \"mp3\",\n  \"bitrate\": 128000\n}",
        "options": {}
      },
      "id": "e990bd1f-c02a-442c-9838-92d74b9dc780",
      "name": "MiniMax TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1896, 112]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "text",
              "value": "={{ $('Extract AI Response').item.json.aiResponseText }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "audio_url",
              "value": "={{ $json.data?.audio_file || $json.audio_file || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeOtherFields": false
        }
      },
      "id": "975486d3-33f6-416a-b221-a3e5d28916bd",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [2120, 112]
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "d4ca7ab6-e9e7-4bdf-9af2-55e6835bf420",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [2344, 112]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Extract Input", "type": "main", "index": 0}]]
    },
    "Extract Input": {
      "main": [[{"node": "Validate Message", "type": "main", "index": 0}]]
    },
    "Validate Message": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 0}]]
    },
    "AI Agent": {
      "main": [[{"node": "Extract AI Response", "type": "main", "index": 0}]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Simple Memory": {
      "ai_memory": [[{"node": "AI Agent", "type": "ai_memory", "index": 0}]]
    },
    "Extract AI Response": {
      "main": [[{"node": "MiniMax TTS", "type": "main", "index": 0}]]
    },
    "MiniMax TTS": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    },
    "Format Response": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b965eed6b3a7bcae9d11ab585fe8aff463f3b843b2fb90892013310daebe317d"
  }
}
