n8n-workflow-diagnostic.json
{
  "name": "CallWaiting AI - DIAGNOSTIC (Start Here)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/webhook/tts_minimax",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Log what we received\nconsole.log('Received webhook data:', $input.all());\n\n// Extract and validate\nconst body = $input.first().json.body || {};\nconst message = body.message || 'No message provided';\nconst type = body.type || 'unknown';\n\nconsole.log('Message:', message);\nconsole.log('Type:', type);\n\n// Return structured data\nreturn {\n  receivedMessage: message,\n  messageType: type,\n  timestamp: new Date().toISOString(),\n  status: 'received'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "process-input",
      "name": "Process Input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "text",
              "value": "=Hello! I received your message: \"{{ $json.receivedMessage }}\". This is a diagnostic response to confirm the webhook is working. Your message type was: {{ $json.messageType }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "audio_url",
              "value": "",
              "type": "string"
            },
            {
              "id": "3",
              "name": "debug_info",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "includeOtherFields": false
        }
      },
      "id": "create-response",
      "name": "Create Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Process Input", "type": "main", "index": 0}]]
    },
    "Process Input": {
      "main": [[{"node": "Create Response", "type": "main", "index": 0}]]
    },
    "Create Response": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
