n8n-workflow-simple-test.json
{
  "name": "CallWaiting AI - Simple Test (No TTS)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/webhook/tts_minimax",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "text",
              "value": "=Hello! I received your message: \"{{ $json.body.message }}\". This is CallWaiting AI responding. How can I help you today?",
              "type": "string"
            },
            {
              "id": "2",
              "name": "audio_url",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeOtherFields": false
        }
      },
      "id": "create-response",
      "name": "Create Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [220, 0],
      "notes": "This creates a simple text response without TTS audio"
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [440, 0]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Create Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
