n8n-workflow-example.json
{
  "name": "CallWaiting AI - Chat Widget Response Example",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/webhook/tts_minimax",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "userMessage",
              "value": "={{ $json.body.message }}"
            },
            {
              "name": "messageType",
              "value": "={{ $json.body.type }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text",
              "value": "Hello! I received your message: {{ $json.userMessage }}. This is a test response from CallWaiting AI."
            },
            {
              "name": "audio_url",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "name": "Prepare Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 300],
      "notes": "Replace this with your AI logic and TTS generation"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"text\": $json.text, \"audio_url\": $json.audio_url } }}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Input": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "meta": {
    "instanceId": "callwaitingai-example"
  },
  "description": "Simple example workflow for CallWaiting AI chat widget integration. This workflow receives messages from the chat widget and returns a simple response. Replace the 'Prepare Response' node with your actual AI and TTS logic."
}
