n8n_workflows/pitr_daily_ping.json
{
  "name": "Daily PITR Backup Check",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": [
          {
            "hour": 2,
            "minute": 0
          }
        ]
      },
      "id": "Cron_PITR",
      "name": "Cron (02:00 UTC)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/payments_callwaiting?select=id&limit=1",
        "responseFormat": "json",
        "options": {
          "ignoreResponseCode": true,
          "fullResponse": true
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "Supabase_Probe",
      "name": "Supabase Probe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SUPABASE_SERVICE_ROLE"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const statusCode = $json.statusCode ?? 0;\nconst supabaseOk = statusCode >= 200 && statusCode < 400;\nreturn [{\n  json: {\n    supabaseOk,\n    supabaseStatus: statusCode,\n    supabaseBody: $json.body\n  }\n}];"
      },
      "id": "Record_Supabase",
      "name": "Record Supabase Result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.PITR_HEALTHCHECK_URL}}",
        "options": {
          "ignoreResponseCode": true,
          "fullResponse": true
        }
      },
      "id": "Healthcheck_Ping",
      "name": "Healthchecks.io Ping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "functionCode": "const supabaseData = $prevNode[\"Record Supabase Result\"].json;\nconst supabaseOk = supabaseData.supabaseOk ?? false;\nconst supabaseStatus = supabaseData.supabaseStatus ?? null;\nconst healthStatus = $json.statusCode ?? 0;\nconst healthPingOk = healthStatus >= 200 && healthStatus < 400;\nreturn [{\n  json: {\n    timestamp: new Date().toISOString(),\n    supabaseOk,\n    supabaseStatus,\n    healthPingOk,\n    healthStatus\n  }\n}];"
      },
      "id": "Summarize_Result",
      "name": "Summarize Result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "options": {
          "fromEmail": "monitoring@callwaitingai.dev",
          "text": "PITR check completed.\\nSupabase connectivity: {{$json.supabaseOk}} (status {{$json.supabaseStatus}})\\nHealthcheck ping: {{$json.healthPingOk}} (status {{$json.healthStatus}})\\nTimestamp: {{$json.timestamp}}",
          "subject": "Daily PITR backup check"
        },
        "html": "<p>PITR check completed.</p><ul><li>Supabase connectivity: {{$json.supabaseOk}} (status {{$json.supabaseStatus}})</li><li>Healthcheck ping: {{$json.healthPingOk}} (status {{$json.healthStatus}})</li></ul><p>Timestamp: {{$json.timestamp}}</p>"
      },
      "id": "Notify_Email",
      "name": "Send Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1420, 300],
      "credentials": {
        "smtp": {
          "id": "CALLWAITING_SMTP"
        }
      }
    }
  ],
  "connections": {
    "Cron (02:00 UTC)": {
      "main": [
        [
          {
            "node": "Supabase Probe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Probe": {
      "main": [
        [
          {
            "node": "Record Supabase Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Supabase Result": {
      "main": [
        [
          {
            "node": "Healthchecks.io Ping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Healthchecks.io Ping": {
      "main": [
        [
          {
            "node": "Summarize Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Result": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "UTC"
  },
  "tags": [
    "monitoring",
    "pitr"
  ],
  "id": "pitr_daily_ping_v1"
}
